# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.joblib

# Virtual environments
venv/
.venv/
ENV/
env/
env.bak/
venv.bak/

# Jupyter
.ipynb_checkpoints/

# OS / IDE files
.DS_Store
Thumbs.db
.vscode/

# Build / cache
*.egg-info/
.cache/
